@font-face {
  font-family: kardust;
  src: url("./fonts/Kardust_TS_Condensed_Bold_Italic.ttf");
}

:root {
  --color-bg: rgb(0, 0, 0);
  --color-bg-transparent: rgba(5, 5, 5, 0.5);
  --color-bg-primary: rgb(161, 218, 7);

  --color-text: #fff;
  --color-text-primary: rgb(161, 218, 7);
  --color-text-secondary: gray;
  --font-title-primary: kardust;
  --nav-height: 5vw;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem; /* 16px */
}

/* Body - with grid */
body {
  margin: 0px;
  display: grid;
  grid-template:
    "header" auto
    "nav" auto
    "main" auto
    "footer" auto
    / 1fr;
}

article,
aside,
footer {
  padding: 1rem;
}

header {
  grid-area: header;
  background-color: var(--color-bg);
  width: 100%;
}

nav {
  grid-area: nav;
  position: fixed;
  width: 100vw;
  transition: all 400ms linear;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: right -50vw;
  background-size: 72vw;
  font-size: 1em;
  background-color: var(--color-bg-primary);
  color: black;
  display: flex;
  flex-wrap: wrap;
}

/* LOGO fixed */
.logo__fixed {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  width: 100px;
  height: 100px;
  right: 2vw;
  bottom: 3vw;
  z-index: 1;
}

/* MENU - with flex */
#menu__container {
  /* display: -webkit-flex; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
  margin: 0px;
  padding:0px;
  font-size: 1em;
  overflow: hidden;
  min-height: var(--nav-height);
  background-color: var(--color-bg-transparent);
}

#menu__container a {
  display: block;
  text-decoration:none;
  color: var(--color-text);
  border-bottom: 2px solid transparent;
  transition: border-bottom 2s ease;
  transition: 1s all;
}
#menu__container a:hover{
  color:var(--color-text-primary);
  border-bottom: 1px solid var(--color-text-primary);
}

/* Menu hamburguesa  - icono */
.nav__icon {
  display: none;
}
.nav__icon {
  width: 36px;
  height: 28px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}
.nav__icon span {
  background:var(--color-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}
.nav__icon span:nth-of-type(1) {
  top: 0;
}
.nav__icon span:nth-of-type(2) {
  top: 12px;
}
.nav__icon span:nth-of-type(3) {
  bottom: 0;
}
.nav__icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
.nav__icon.active span:nth-of-type(2) {
  display: none;
}
.nav__icon.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}
/* End menu */

/* HERO */
.hero__container {
  background-image: url("../img/logo.png"), url("../img/bg-header.webp");
  background-repeat: no-repeat, repeat;
  animation: animatedBackground 6s linear infinite alternate;
  border-bottom: 5px solid var(--color-text-primary);
  display: flex;
}
.hero__title {
  flex-grow: 0.9;
  text-align: right;
  align-self: center;
  margin-top: 80px;
  color: var(--color-text);
}
.hero__title h1,
.hero__title h2 {
  font-family: var(--font-title-primary);
  margin: 0px;
}
.hero__title h1 {
  font-size: 6em;
}
.hero__title h2 {
  font-size: 4em;
}
.hero__title span {
  color: var(--color-text-primary);
}
.hero__subtitle {
  font-style: oblique;
  font-size: 1.5em;
  color: var(--color-text-primary);
}

.vh100 {
  height: 100vh;
}
.vh40 {
  height: 40vh;
}

/* SLOGAN */
.slogan__title {
  float: right;
  text-align: right;
  margin-top: 5vw;
  margin-right: 4vw;
  color: var(--color-text);
}
.slogan__title h1 {
  font-family: var(--font-title-primary);
  font-size: 4em;
  margin: 0px;
}
.slogan__title h1 span {
  color: var(--color-text-primary);
}
.slogan__subtitle {
  font-style: oblique;
  font-size: 1em;
  color: var(--color-text-primary);
}

/* Box - with flex [column]*/
.box__container {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.box__container > div {
  padding: 3vw 6vw;
}
.box__container .title {
  font-family: var(--font-title-primary);
  color: var(--color-text-primary);
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}
.box__container p {
  font-size: 1.5em;
  text-align: justify;
  width: 50%;
}
.box__container .boton_galeria {
  margin-top: 40px;
}

/* End Box */

/* Box - with flex - GALLERY*/
.flex_box {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
}
.flex_box > div,
.flex_box > img {
  flex-grow: 1;
  /* flex-basis: 200px; */
  max-width: 370px;
  text-align: center;
  padding: 10px;
}
.flex_box > div.auto {
  max-width: 100%;
}
.flex_box > div:hover,
.flex_box > img:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
}
.flex_box img {
  width: 100%;
}
/* End Box */

/* Buttons */
.btn {
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0px;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}
.btn:hover {
  color: var(--color-text);
}
.btn_primary {
  background-color: var(--color-bg-primary);
}
/* End Buttons */

.container {
  padding: 2vw 5vw;
  background-color: var(--color-text);
}
.container__title {
  font-family: var(--font-title-primary);
  font-size: 2.5em;
  margin: 30px 0px;
  border-bottom: 1px solid var(--color-text-primary);
}

.bicicletas__container {
  background: url("../img/bg-bicicletas.webp") bottom right no-repeat
    var(--color-bg);
  color: var(--color-text);
}
.guardabarros__container {
  background: url("../img/bg-guardabarros.webp") bottom right no-repeat
    var(--color-bg);
  color: var(--color-text);
}
.tapas__container {
  background: url("../img/bg-tapas.webp") top right no-repeat var(--color-bg);
  color: var(--color-text);
}

.mercadolibre__container {
  padding: 2rem;
  font-size: 2rem;
  font-style: oblique;
  color: yellow;
}

.iframe__container {
  position: relative;
  padding-bottom: 55%;
  height: 0;
  overflow: hidden;
}
.iframe__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Contacto - footer */
#contacto {
  width: 100%;
}
#contacto a {
  text-decoration: none;
  color: black;
}
#contacto ul {
  list-style: none;
  margin-left: -30px;
  margin-top: -5px;
}

/* Redes Sociales */
.redes__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 220px;
  height: 55px;
}
.redes__container img {
  width: 2.8em;
}
.redes__container a:hover > img {
  width: 3em;
}
/* End Redes Sociales */

.copyright {
  text-align: right;
  color: white;
  align-self: flex-end;
  width: 100%;
}

.border__top {
  border-top: 10px solid var(--color-bg);
}
.border__bottom {
  border-bottom: 5px solid var(--color-bg-primary);
}

@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
    background-size: 0%, 105%;
  }
  to {
    background-position: 10% 40%;
    background-size: 30%, 100%;
  }
}

@keyframes animatedBackgroundCenter {
  from {
    background-position: 50% 70%;
    background-size: 0%, 120%;
  }
  to {
    background-position: 50% 10%;
    background-size: 30%, 110%;
  }
}

/***Media to LAPTOP - PC****/
@media (max-width: 1024px) {
  .hero__title h1 {
    font-size: 4em;
  }
  .hero__title h2 {
    font-size: 3em;
  }
}

/***Media to TABLET****/
@media (max-width: 900px) {
  .hero__container {
    height: 50vw;
  }
  .hero__title h1 {
    font-size: 3.5em;
  }
  .hero__subtitle {
    font-size: 1.5em;
  }

  .box__container .title {
    font-size: 4em;
  }
  .box__container .content {
    font-size: 1.2em;
    width: 40%;
    background-color: var(--color-bg-transparent);
  }

  .slogan__title h1 {
    font-size: 3em;
  }
  .slogan__subtitle {
    font-size: 1em;
  }

  .bicicletas__container,
  .guardabarros__container,
  .tapas__container {
    background-size: cover;
    background-position: center center;
  }

  .mercadolibre__container {
    display: inline-block;
    font-size: 1em;
  }
}

/***Media to MOVIL****/

@media (max-width: 500px) {
  .logo__fixed {
    right: 5vw;
    bottom: 10vw;
  }

  .hero__container {
    animation: animatedBackgroundCenter 5s linear infinite alternate;
    height: 60vw;
  }
  .hero__title {
    text-align: center;
    font-size: 3vw;
  }
  .hero__subtitle {
    display: none;
  }

  #menu__container {
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 980;
    padding: 30px;
    display: none;
    transition: max-height 1s ease; 
    background:var(--color-bg);
  }
   #menu__container.open {
    max-height: 100vh;
    display:block;
  }
   #menu__container a {
    display:flex;
    margin: 20px;
  }
  .nav__icon, .nav__icon span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
    z-index: 999;
  }
  

  .flex_box {
    flex-direction: column;
  }

  .box__container {
    text-align: center;
  }
  .box__container .title {
    font-size: 2em;
  }
  .box__container p {
    margin: 10px auto;
    font-size: 1.1em;
    width: 90%;
  }
  .box__container .boton_galeria {
    margin-top: 200px;
  }

  .slogan__title {
    margin-top: 40px;
  }

  .slogan__title h1 {
    font-size: 1.8em;
  }
  .slogan__subtitle {
    font-size: 0.8em;
  }

  .bicicletas__container,
  .guardabarros__container,
  .tapas__container {
    background-size: 130%;
    background-position: center center;
  }
  .mercadolibre__container {
    font-size: 1em;
  }

  .copyright {
    text-align: center;
    font-size: 3.5vw;
    padding-bottom: 5px;
  }
}
